---
import "../styles/global.css";
import "../scripts/main.js";
---


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ME-NIVERSE</title>
    <meta
      name="description"
      content="A personal space where I write about movies, books, music, and everything in between."
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <slot name="head" />
  </head>

  <body>
      <div id="starfield"></div>

  <slot />

  </body>
</html>